RewriteEngine On
Options +FollowSymLinks

AddDefaultCharset UTF-8

php_value magic_quotes_gpc 0
php_value short_open_tag 1
php_value session.auto-start off

RewriteCond %{REQUEST_URI} !/js/
RewriteRule !.(css|js|ico|gif|jpg|jpeg|png|pdf|xls|doc|ppt|odt|ods|odp|xml|zip|rar|gz|bz2|tar|torrent|swf)$ /index.php
