<?xml version="1.0"?>
<config>
    <modules>
		<kernel/>
		<infosite/>
    </modules>
    <events>

        <Shop_AdminController__init>
        	<observers>
                <kernelInit>
                    <class>Observer_AdminController</class>
                    <method>initAction</method>
                </kernelInit>
        		<selfInit>
        			<class>Shop_Observer_AdminController</class>
        			<method>initAction</method>
        		</selfInit>
        	</observers>
        </Shop_AdminController__init>
        
        <Shop_Controller__init>
            <observers>
                <kernelInit>
                    <class>Observer_Controller</class>
                    <method>initAction</method>
                </kernelInit>
                <selfInit>
                    <class>Shop_Observer_Controller</class>
                    <method>initAction</method>
                </selfInit>
            </observers>
        </Shop_Controller__init>
        
    </events>
</config>
