<?xml version="1.0"?>
<config>
    <modules>
		<kernel/>
		<social/>
    </modules>

    <events>
    
    
        <Social_AdminController__init>
            <observers>
                <kernelInit>
                    <class>Observer_AdminController</class>
                    <method>initAction</method>
                </kernelInit>
                <selfInit>
                    <class>Social_Observer_AdminController</class>
                    <method>initAction</method>
                </selfInit>
            </observers>
        </Social_AdminController__init>
        
        <Social_Controller__init>
            <observers>
                <kernelInit>
                    <class>Observer_Controller</class>
                    <method>initAction</method>
                </kernelInit>
                <selfInit>
                    <class>Social_Observer_Controller</class>
                    <method>initAction</method>
                </selfInit>
            </observers>
        </Social_Controller__init>
    
    
    
        <Social_Model_Object_Advert__trigger__onBeforeSave>
            <observers>
                <acl>
                	<module>kernel</module>
                    <class>Model_Object_Observer_Acl</class>
                    <method>onBeforeSaveAdvert</method>
                </acl>
            </observers>
        </Social_Model_Object_Advert__trigger__onBeforeSave>

        <Social_Model_Object_Mail__trigger__onAfterSave>
            <observers>
                <notifier>
                	<module>social</module>
                    <class>Social_Observer_Notifier</class>
                    <method>onAfterSend</method>
                </notifier>
            </observers>
        </Social_Model_Object_Mail__trigger__onAfterSave>
    </events>

</config>
