<?xml version="1.0"?>
<routes>

<!-- main site -->
    <main-index>
        <type>Zend_Controller_Router_Route</type>
        <route></route>
        <defaults module="kernel" controller="index" action="index" />
    </main-index>
    <main-login>
        <type>Zend_Controller_Router_Route</type>
        <route>auth/login/*</route>
        <defaults module="kernel" controller="auth" action="login" />
    </main-login>
    <main-logout>
        <type>Zend_Controller_Router_Route</type>
        <route>auth/logout</route>
        <defaults module="kernel" controller="auth" action="logout" />
    </main-logout>
    <main-user_register>
        <type>Zend_Controller_Router_Route</type>
        <route>register</route>
        <defaults module="tickets" controller="user" action="register" />
    </main-user_register>



<!-- shared routes -->

    <admin_index>
        <type>App_Controller_Router_Route_Regex</type>
        <route>admin$</route>
        <defaults module="kernel" controller="admin-index" action="index" page=""/>
        <reverse>admin</reverse>
    </admin_index>


    <frontend_index>
        <type>App_Controller_Router_Route_Regex</type>
        <route></route>
        <defaults module="kernel" controller="index" action="index" page=""/>
        <reverse></reverse>
    </frontend_index>


<!-- kernel module -->
    <profile>
        <type>App_Controller_Router_Route_Regex</type>
        <route>user/([a-zA-Z0-9\-\_]+)</route>
        <defaults module="kernel" controller="user" action="profile" />
        <map login="1" />
        <reverse>user/%s</reverse>
    </profile>

</routes>
