<?xml version="1.0"?>
<config>
    <modules>
		<kernel/>
		<catalog/>
    </modules>

	<events>
	
        
        <Checkout_AdminController__init>
            <observers>
                <kernelInit>
                    <class>Observer_AdminController</class>
                    <method>initAction</method>
                </kernelInit>
                <selfInit>
                    <class>Checkout_Observer_AdminController</class>
                    <method>initAction</method>
                </selfInit>
            </observers>
        </Checkout_AdminController__init>
        
        <Checkout_Controller__init>
            <observers>
                <kernelInit>
                    <class>Observer_Controller</class>
                    <method>initAction</method>
                </kernelInit>
                <selfInit>
                    <class>Checkout_Observer_Controller</class>
                    <method>initAction</method>
                </selfInit>
            </observers>
        </Checkout_Controller__init>
        
	

<!--  catalog connection -->
		<Checkout_Model_Service_Cart__onRecalculatePrice>
        	<observers>
        		<socket>
        			<class>Checkout_Model_Service_Observer_Cart</class>
        			<method>onRecalculatePrice</method>
        		</socket>
        	</observers>
		</Checkout_Model_Service_Cart__onRecalculatePrice>

		<Catalog_Model_Service_Item__onRecalculatePrice>
        	<observers>
        		<socket>
        			<module>catalog</module>
        			<class>Catalog_Model_Service_Observer_Item</class>
        			<method>onRecalculatePrice</method>
        		</socket>
        	</observers>
		</Catalog_Model_Service_Item__onRecalculatePrice>

        <Checkout_Model_Service_Cart__onRecalculatePrices>
            <observers>
                <socket>
                    <class>Checkout_Model_Service_Observer_Cart</class>
                    <method>onRecalculatePrices</method>
                </socket>
            </observers>
        </Checkout_Model_Service_Cart__onRecalculatePrices>

        <Catalog_Model_Service_Item__onRecalculatePrices>
            <observers>
                <socket>
                    <module>catalog</module>
                    <class>Catalog_Model_Service_Observer_Item</class>
                    <method>onRecalculatePrices</method>
                </socket>
            </observers>
        </Catalog_Model_Service_Item__onRecalculatePrices>
        
        <Checkout_Model_Service_Order__onGetCatalogItems>
            <observers>
                <socket>
                    <module>checkout</module>
                    <class>Checkout_Model_Service_Observer_Cart</class>
                    <method>onGetCatalogItems</method>
                </socket>
            </observers>
        </Checkout_Model_Service_Order__onGetCatalogItems>

        <Catalog_Model_Service_Item__onGetCatalogItems>
            <observers>
                <socket>
                    <module>catalog</module>
                    <class>Catalog_Model_Service_Observer_Item</class>
                    <method>onGetCatalogItems</method>
                </socket>
            </observers>
        </Catalog_Model_Service_Item__onGetCatalogItems>


<!-- notifiers -->
		<Checkout_Model_Object_Order__trigger__onBeforeSaveComplex>
			<observers>
				<seoId>
					<class>Checkout_Observer_Notifier</class>
					<method>onBeforeSaveOrder</method>
				</seoId>
			</observers>
		</Checkout_Model_Object_Order__trigger__onBeforeSaveComplex>

        <Checkout_Model_Object_Order__trigger__onAfterSaveComplex>
            <observers>
                <notifier>
                    <class>Checkout_Observer_Notifier</class>
                    <method>onAfterSaveOrder</method>
                </notifier>
            </observers>
        </Checkout_Model_Object_Order__trigger__onAfterSaveComplex>

	</events>

</config>
