<?xml version="1.0"?>
<config>
    <modules>
        <lab/>
    </modules>
    <events>

        <Bootstrap__beforeRun>
        	<observers>
        		<acl>
        			<class>Observer_Bootstrap</class>
        			<method>beforeRun</method>
        		</acl>
        	</observers>
        </Bootstrap__beforeRun>

        <Bootstrap__afterRun>
        	<observers>
        		<acl>
        			<class>Observer_Bootstrap</class>
        			<method>afterRun</method>
        		</acl>
        	</observers>
        </Bootstrap__afterRun>



        <Controller__init>
            <observers>
                <acl>
                    <class>Observer_Controller</class>
                    <method>initAction</method>
                </acl>
            </observers>
        </Controller__init>

        <AdminController__init>
            <observers>
                <acl>
                    <class>Observer_AdminController</class>
                    <method>initAction</method>
                </acl>
            </observers>
        </AdminController__init>

		<Model_Object__trigger__onBeforeSave>
			<observers>
				<log>
					<class>Model_Object_Observer_Log</class>
					<method>onBeforeSave</method>
				</log>
			</observers>
		</Model_Object__trigger__onBeforeSave>

        <Model_Object_Site__trigger__onBeforeDelete>
            <observers>
                <acl>
                    <class>Model_Object_Observer_Acl</class>
                    <method>onDelete</method>
                </acl>
            </observers>
        </Model_Object_Site__trigger__onBeforeDelete>


        <Model_Object_User__trigger__onBeforeSave>
            <observers>
                <acl>
                    <class>Model_Object_Observer_Acl</class>
                    <method>onBeforeSaveUser</method>
                </acl>
            </observers>
        </Model_Object_User__trigger__onBeforeSave>

<!-- tickets module object events -->
	    <Model_Object_User__onAfterLogin>
	        <observers>
	            <log>
	    			<module>kernel</module>
	                <class>Model_Object_Observer_Stats</class>
	                <method>onAfterLoginUser</method>
	            </log>
	        </observers>
	    </Model_Object_User__onAfterLogin>

    </events>
</config>
